<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Futiba Club - Fullstack Academy - DevPleno</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/futiba-interno.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <% include elements/menu-items %>
                </div>
            </div>
        </nav>
    </header>

    <section class="content">
        <div class="container">
            <div class="row">
                <h2>Grupo: <%= group.name %></h2>
            </div>
            <% if(group.role === 'owner'){ %>
                <% if(pendings.length > 0){ %>
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Jogos</th>
                                <th></th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pendings.forEach( user => { %>
                            <tr>
                                <th scope="row"><%= user.id %></th>
                                <td>
                                    <a href="/groups/<%= user.id %> ">
                                      <%= user.name %> 
                                    </a>
                                </td>
                                <td><%= user.role %></td>
                                <td>                           
                                    <a href="/groups/<%= group.id %>/pending/<%= user.id %>/yes">
                                        Permitir
                                    </a> 
                                    <a href="/groups/<%= group.id %>/pending/<%= user.id %>/no">
                                        Negar
                                    </a>                             
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% }else { %>
                        <p class="alert alert-info">Nenhum usuário pendente.</p>
                        <% } %>
                        <% } %>

                        <% if(group.role === 'pending') { %>
                            <p class="alert alert-info">Você precisa ser aprovado pelo dono do grupo.</p>

                        <% }else{ %>                          
                            <form method="post">
                            <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Jogos</th>
                                            <th>Pontuação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% games.forEach( game => { %>
                                        <tr>             
                                            <td>       
                                                <% if(game.guess_a){ %>
                                                    <%= game.guess_a %>
                                                    <% }else { %>                                        
                                                  <input class="form-control" name="team_<%= game.id %>[a]">
                                                  <% } %> 
                                                    <%= game.team_a %> vs <%= game.team_b %> 
                                                    <% if(game.guess_b){ %>
                                                        <%= game.guess_b %>
                                                        <% }else { %>
                                                    <input class="form-control" name="team_<%= game.id %>[b]"> 
                                                    <% } %>                                               
                                            </td>
                                            <td><%= game.score %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                                <input type="submit" value="Salvar apostas">
                            </form>
                         <% } %>
        </div>
    </section>
    <footer class="page-footer center-on-small-only">
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2018 Projeto desenvolvido durante o Fullstack Academy -
                <a href="https://www.devpleno.com">DevPleno</a>
            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>